#signup-form
  max-width 300px
  width 90%
  .accepting
    text-align center
    a
      display block
    p
      font-size 15px
      margin 0
#signup-message
  max-width 500px

.aviso-privacidad
  text-align: justify;
  input
    margin-right: 5px

  .privacy-options
    display: flex;
    justify-content: center;
    margin-top: 10px;
    .privacy-option:first-child
      margin-right: 20px;
    .privacy-option
      display: flex;
